<mat-toolbar>
  <button mat-icon-button class="backButton" matTooltip="Voltar" (click)="voltarParaUsuarios()">
    <mat-icon>arrow_back</mat-icon>
  </button>
</mat-toolbar>
<div class="container">
  <h2>Duplicar Equipamento</h2>
  <form>
  <mat-form-field class="example-full-width">
    <label for="tagPatrimonio">Tag Patrimônio:</label>
    <input matInput
           type="text"
           id="tagPatrimonio"
           name="tagPatrimonio"
           *ngIf="equipamento"
           [(ngModel)]="tag_patrimonio"
           (input)="compararTag()"
           required>
           <mat-icon *ngIf="tagExiste">error_outline</mat-icon>
           <mat-icon *ngIf="!tagExiste">check_circle_outline</mat-icon>
  </mat-form-field>


    <mat-form-field class="example-full-width">
      <label for="tipoEquipamento">Tipo de Equipamento:</label>
      <mat-select id="tipoEquipamento" name="tipoEquipamento" *ngIf="equipamento" [(ngModel)]="this.equipamento.tipo_equipamento_id" required>
        <mat-option [value]="" disabled selected>Selecione o tipo de equipamento</mat-option>
        <mat-option *ngFor="let tipo of tipoEquipamento" [value]="tipo.id">{{ tipo.tipo }}</mat-option>
      </mat-select>
    </mat-form-field>


    <mat-form-field class="example-full-width">
      <label for="situacao">Situação:</label>
      <mat-select id="situacao" name="situacao" *ngIf="equipamento" [(ngModel)]="this.equipamento.situacao" required>
        <mat-option disabled selected hidden>{{getDescricaoSituacao(equipamento.situacao)}}</mat-option>
        <mat-option value="0">Novo</mat-option>
        <mat-option value="1">Em Operação</mat-option>
        <mat-option value="2">Em Manutenção</mat-option>
        <mat-option value="3">Disponível</mat-option>
        <mat-option value="4">Indisponível</mat-option>
        <!-- Adicione mais opções conforme necessário -->
      </mat-select>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label for="empresa">Empresa:</mat-label>
      <mat-select [(ngModel)]="this.equipamento.empresa_id" *ngIf="equipamento" name="empresa" id="empresa">
        <mat-option value="" disabled selected>Selecione o nome da Empresa</mat-option>
        <mat-option *ngFor="let empresa of empresas" [value]="empresa.id">{{ empresa.nome }}</mat-option>
      </mat-select>
    </mat-form-field>


    <mat-form-field class="example-full-width">
      <mat-label for="colaborador">Colaborador:</mat-label>
      <mat-select [(ngModel)]="this.equipamento.colaborador_id" *ngIf="equipamento" name="colaborador" id="colaborador">
        <mat-option value="" disabled selected>Selecione o nome do colaborador</mat-option>
        <mat-option *ngFor="let colaborador of colaboradores" [value]="colaborador.id">{{ colaborador.nome }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label for="setor">Setor:</mat-label>
      <mat-select [(ngModel)]="this.equipamento.setor_id" *ngIf="equipamento" name="setor" id="setor">
        <mat-option value="" disabled selected>Selecione o nome do setor</mat-option>
        <mat-option *ngFor="let setor of setores" [value]="setor.id">{{ setor.nome }}</mat-option>
      </mat-select>
    </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label for="marca">Marca:</mat-label>
        <input matInput type="text" id="marca" name="marca" [(ngModel)]="this.equipamento.marca" *ngIf="equipamento" required>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label for="modelo">Modelo:</mat-label>
        <input matInput type="text" id="modelo" name="modelo" [(ngModel)]="this.equipamento.modelo" *ngIf="equipamento" required>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Data da compra</mat-label>
        <input matInput [matDatepicker]="picker" id="dataCompra" name="dataCompra" [(ngModel)]="equipamento.data_compra">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

    <mat-checkbox id="acessoRemoto" name="acessoRemoto" [(ngModel)]="this.equipamento.acesso_remoto" *ngIf="equipamento">
        Acesso Remoto
      </mat-checkbox>

      <mat-form-field *ngIf="this.equipamento.acesso_remoto">
        <label for="idAcessoRemoto">ID Acesso Remoto:</label>
        <input matInput type="text" id="idAcessoRemoto" name="idAcessoRemoto" [(ngModel)]="this.equipamento.acesso_id" *ngIf="equipamento">
      </mat-form-field>

      <mat-form-field *ngIf="this.equipamento.acesso_remoto">
        <label for="senhaAcesso">Senha Acesso:</label>
        <input matInput type="text" id="senhaAcesso" name="senhaAcesso" [(ngModel)]="this.equipamento.acesso_senha" *ngIf="equipamento">
      </mat-form-field>

    <div class="form-group">
      <label>Status</label>
      <mat-slide-toggle id="status" name="status" [(ngModel)]="this.equipamento.status" *ngIf="equipamento" color="primary">Ativo</mat-slide-toggle>
    </div>

    <div class="buttonContainer">
      <button class="submit-button" matTooltip="Cadastrar" (click)="onSubmit()"><mat-icon>save</mat-icon>Salvar</button>
    </div>
  </form>
</div>
<div class="loading" *ngIf="isLoading">
  Carregando...
</div>
