<mat-toolbar >
  <button class="backButton" mat-icon-button (click)="voltarParaUsuarios()">
    <mat-icon>arrow_back</mat-icon>
  </button>
</mat-toolbar>

<div class="container">
  <h2>Criar Grupo de Permissões</h2>
  <form (ngSubmit)="criarGrupoPermissoes()">
    <mat-form-field class="custom-width">
      <mat-label class="titulo">Nome do Grupo:</mat-label>
      <input matInput type="text" id="nomeGrupo" name="nomeGrupo" [(ngModel)]="this.nomeGrupo" required>
    </mat-form-field>

    <div class="section">
      <div class="checkbox-group">
        <div class="checkbox-title">
          <label class="titulo-section"></label>
        </div>
        <mat-checkbox name="selecionarTodosVisualizar" [(ngModel)]="selecionarTodosVisualizar" (change)="toggleSelecionarTodosVisualizar()">Selecionar Todos</mat-checkbox>
        <mat-checkbox name="selecionarTodosEditar" [(ngModel)]="selecionarTodosEditar" (change)="toggleSelecionarTodoseditar()">Selecionar Todos</mat-checkbox>
        <mat-checkbox name="selecionarTodosDetalhes" [(ngModel)]="selecionarTodosDetalhes" (change)="toggleSelecionarTodosDetalhe()">Selecionar Todos</mat-checkbox>
        <mat-checkbox name="selecionarTodosDetalhes" [(ngModel)]="selecionarTodos" (change)="toogleSelecionarTodos()">Selecionar Todos</mat-checkbox>
      </div>
    </div>

  <div class="section">
    <div class="checkbox-group">
      <div class="checkbox-title">
      <label class="titulo-section">Colaborador</label></div>
      <mat-checkbox name="visualizaColaborador" [(ngModel)]="this.visualizaColaborador">Visualizar</mat-checkbox>
      <mat-checkbox name="editaColaborador" [(ngModel)]="this.editaColaborador">Editar</mat-checkbox>
      <mat-checkbox name="detalheColaborador" [(ngModel)]="this.detalheColaborador">Detalhes</mat-checkbox>
      <mat-checkbox name="selecionaTodosColaborador" [(ngModel)]="this.selecionarTodosColaborador" (change)="toogleSelecionarTodosColaborador()">Selecionar todos</mat-checkbox>
    </div>
  </div>

  <div class="section">
      <div class="checkbox-group">
        <div class="checkbox-title">
          <label class="titulo-section">Empresa</label></div>
      <mat-checkbox name="visualizaEmpresa" [(ngModel)]="this.visualizaEmpresa">Visualizar</mat-checkbox>
      <mat-checkbox name="editaEmpresa" [(ngModel)]="this.editaEmpresa">Editar</mat-checkbox>
      <mat-checkbox name="detalheEmpresa" [(ngModel)]="this.detalheEmpresa">Detalhes</mat-checkbox>
      <mat-checkbox name="selecionaTodosEmpresa" [(ngModel)]="this.selecionarTodosEmpresa" (change)="toogleSelecionarTodosEmpresa()">Selecionar todos</mat-checkbox>
    </div>
  </div>

  <div class="section">
      <div class="checkbox-group">
        <div class="checkbox-title">
          <label class="titulo-section">Equipamento</label></div>
      <mat-checkbox name="visualizaEquipamento" [(ngModel)]="this.visualizaEquipamento">Visualizar</mat-checkbox>
      <mat-checkbox name="editaEquipamento" [(ngModel)]="this.editaEquipamento">Editar</mat-checkbox>
      <mat-checkbox name="detalheEquipamento" [(ngModel)]="this.detalheEquipamento">Detalhes</mat-checkbox>
      <mat-checkbox name="selecionaTodosEquipamento" [(ngModel)]="this.selecionarTodosEquipamento" (change)="toogleSelecionarTodosEquipamento()">Selecionar todos</mat-checkbox>
    </div>
  </div>

  <div class="section">
      <div class="checkbox-group">
        <div class="checkbox-title">
          <label class="titulo-section">Tipo de Equipamento</label></div>
      <mat-checkbox name="visualizaTipoEquipamento" [(ngModel)]="this.visualizaTipoEquipamento">Visualizar</mat-checkbox>
      <mat-checkbox name="editaTipoEquipamento" [(ngModel)]="this.editaTipoEquipamento">Editar</mat-checkbox>
      <mat-checkbox name="detalheTipoEquipamento" [(ngModel)]="this.detalheTipoEquipamento">Detalhes</mat-checkbox>
      <mat-checkbox name="selecionaTodosTipoEquipamento" [(ngModel)]="this.selecionarTodosTipoEquipamento" (change)="toogleSelecionarTodosTipoEquipamento()">Selecionar todos</mat-checkbox>
    </div>
  </div>

  <div class="section">
    <div class="checkbox-group">
      <div class="checkbox-title">
        <label class="titulo-section">Setor</label></div>
    <mat-checkbox name="visualizaSetor" [(ngModel)]="this.visualizaSetor">Visualizar</mat-checkbox>
    <mat-checkbox name="editaSetor" [(ngModel)]="this.editaSetor">Editar</mat-checkbox>
    <mat-checkbox name="detalheSetor" [(ngModel)]="this.detalheSetor">Detalhes</mat-checkbox>
    <mat-checkbox name="selecionaSetor" [(ngModel)]="this.selecionarTodosSetor" (change)="toogleSelecionarTodosSetor()">Selecionar todos</mat-checkbox>
  </div>
</div>

<div class="section">
  <div class="checkbox-group">
    <div class="checkbox-title">
      <label class="titulo-section">Categoria</label></div>
  <mat-checkbox name="visualizaCategoria" [(ngModel)]="this.visualizaCategoria">Visualizar</mat-checkbox>
  <mat-checkbox name="editaCategoria" [(ngModel)]="this.editaCategoria">Editar</mat-checkbox>
  <mat-checkbox name="detalheCategoria" [(ngModel)]="this.detalheCategoria">Detalhes</mat-checkbox>
  <mat-checkbox name="selecionaCategoria" [(ngModel)]="this.selecionarTodosCategoria" (change)="toogleSelecionarTodosCategoria()">Selecionar todos</mat-checkbox>
</div>
</div>

<div class="section">
  <div class="checkbox-group">
    <div class="checkbox-title">
      <label class="titulo-section">Item</label></div>
  <mat-checkbox name="visualizaItem" [(ngModel)]="this.visualizaItem">Visualizar</mat-checkbox>
  <mat-checkbox name="editaItem" [(ngModel)]="this.editaItem">Editar</mat-checkbox>
  <mat-checkbox name="detalheItem" [(ngModel)]="this.detalheItem">Detalhes</mat-checkbox>
  <mat-checkbox name="selecionaItem" [(ngModel)]="this.selecionarTodosItem" (change)="toogleSelecionarTodosItem()">Selecionar todos</mat-checkbox>
</div>
</div>

  <div class="button-container">
  <button class="createButton" type="submit">Criar Grupo</button>
  </div>
</form>

</div>
