<mat-toolbar>
  <button mat-icon-button class="backButton" matTooltip="Voltar" (click)="voltarParaUsuarios()">
    <mat-icon>arrow_back</mat-icon>
  </button>
</mat-toolbar>
<div class="container">
  <h2>Cadastrar Tipo de Equipamento</h2>

  <form (ngSubmit)="onSubmit()">

    <mat-form-field class="example-full-width">
      <label for="tipoEquipamento">Tipo de Equipamento:</label>
      <input matInput type="text" id="tipoEquipamento" name="tipoEquipamento" [(ngModel)]="tipoEquipamento.tipo" required>
    </mat-form-field>

      <label>Status</label>
      <mat-slide-toggle id="status" name="status" [(ngModel)]="tipoEquipamento.status" color="primary"></mat-slide-toggle>
        <span>{{ tipoEquipamento.status ? 'Ativo' : 'Inativo' }}</span>

        <div class="buttonContainer">
          <button class="submit-button" matTooltip="Cadastrar" type="submit"><mat-icon>save</mat-icon>Salvar</button>
        </div>
    <div class="mensagem-cadastro" *ngIf="mensagemCadastro">{{ mensagemCadastro }}</div>
  </form>
</div>
<div class="loading" *ngIf="isLoading">
  Carregando...
</div>
