<div class="container">
  <h2>Cadastrar Tipo de Equipamento</h2>

  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="tipoEquipamento">Tipo de Equipamento:</label>
      <input type="text" id="tipoEquipamento" name="tipoEquipamento" [(ngModel)]="tipoEquipamento.tipo" required>
    </div>

    <div class="form-group">
      <label>Status</label>
      <mat-slide-toggle id="status" name="status" [(ngModel)]="tipoEquipamento.status" color="primary"></mat-slide-toggle>
        <span>{{ tipoEquipamento.status ? 'Ativo' : 'Inativo' }}</span>
    </div>

    <button type="submit">Cadastrar</button>
    <div class="mensagem-cadastro" *ngIf="mensagemCadastro">{{ mensagemCadastro }}</div>
  </form>
</div>
