<mat-toolbar>
  <button mat-icon-button class="backButton" matTooltip="Voltar" (click)="voltarParaSetores()">
    <mat-icon>arrow_back</mat-icon>
  </button>
</mat-toolbar>

<div class="container">
  <h2>Cadastrar Setor</h2>
  <form (ngSubmit)="onSubmit()" #setorForm="ngForm">

    <mat-form-field class="example-full-width">
      <label for="nome">Nome do Setor:</label>
      <input matInput placeholder="Insira o nome do setor" type="text" id="nome" name="nome" [(ngModel)]="setor.nome" required>
    </mat-form-field>

    <mat-slide-toggle id="status" name="status" [(ngModel)]="setor.status" color="primary"></mat-slide-toggle>
    <span>{{ setor.status ? 'Ativo' : 'Inativo' }}</span>

    <div class="buttonContainer">
      <button class="submit-button" matTooltip="Cadastrar" type="submit"><mat-icon>save</mat-icon>Salvar</button>
    </div>
  </form>
</div>

<div class="loading" *ngIf="isLoading">
  Carregando...
</div>

