<div class="container">
<div class="group-details">
  <h2 class="titulo">Detalhes do Grupo</h2>
  <p>Nome do Grupo: {{ grupo?.group.name }}</p>

  <div class="checkbox-group">
    <label>Colaborador</label>
    <div class="checkboxes">
    <mat-checkbox [(ngModel)]="visualizaColaborador" >Visualizar</mat-checkbox>
    <mat-checkbox [(ngModel)]="editaColaborador" >Editar</mat-checkbox>
    <mat-checkbox [(ngModel)]="detalheColaborador" >Detalhes</mat-checkbox>
    </div>
  </div>

  <div class="checkbox-group">
    <label>Empresa</label>
    <div class="checkboxes">
    <mat-checkbox [(ngModel)]="visualizaEmpresa" >Visualizar</mat-checkbox>
    <mat-checkbox [(ngModel)]="editaEmpresa" >Editar</mat-checkbox>
    <mat-checkbox [(ngModel)]="detalheEmpresa" >Detalhes</mat-checkbox>
  </div>
  </div>

  <div class="checkbox-group">
    <label>Equipamento</label>
    <div class="checkboxes">
    <mat-checkbox [(ngModel)]="visualizaEquipamento" >Visualizar</mat-checkbox>
    <mat-checkbox [(ngModel)]="editaEquipamento" >Editar</mat-checkbox>
    <mat-checkbox [(ngModel)]="detalheEquipamento" >Detalhes</mat-checkbox>
    </div>
  </div>

  <div class="checkbox-group">
    <label>Tipo de Equipamento</label>
    <div class="checkboxes">
    <mat-checkbox [(ngModel)]="visualizaTipoEquipamento" >Visualizar</mat-checkbox>
    <mat-checkbox [(ngModel)]="editaTipoEquipamento" >Editar</mat-checkbox>
    <mat-checkbox [(ngModel)]="detalheTipoEquipamento" >Detalhes</mat-checkbox>
  </div>
  </div>

  <div class="checkbox-group">
    <label>Setor</label>
    <div class="checkboxes">
    <mat-checkbox [(ngModel)]="visualizaSetor" >Visualizar</mat-checkbox>
    <mat-checkbox [(ngModel)]="editaSetor" >Editar</mat-checkbox>
    <mat-checkbox [(ngModel)]="detalheSetor" >Detalhes</mat-checkbox>
  </div>
  </div>

  <div class="checkbox-group">
    <label>Categoria</label>
    <div class="checkboxes">
    <mat-checkbox [(ngModel)]="visualizaCategoria" >Visualizar</mat-checkbox>
    <mat-checkbox [(ngModel)]="editaCategoria" >Editar</mat-checkbox>
    <mat-checkbox [(ngModel)]="detalheCategoria" >Detalhes</mat-checkbox>
  </div>
  </div>

  <div class="checkbox-group">
    <label>Item</label>
    <div class="checkboxes">
    <mat-checkbox [(ngModel)]="visualizaItem" >Visualizar</mat-checkbox>
    <mat-checkbox [(ngModel)]="editaItem" >Editar</mat-checkbox>
    <mat-checkbox [(ngModel)]="detalheItem" >Detalhes</mat-checkbox>
  </div>
  </div>

  <div class="checkbox-group">
    <label>Movimentação</label>
    <div class="checkboxes">
    <mat-checkbox [(ngModel)]="visualizaMovimentacao" >Visualizar</mat-checkbox>
    <mat-checkbox [(ngModel)]="editaMovimentacao" >Editar</mat-checkbox>
    <mat-checkbox disabled >Detalhes</mat-checkbox>
  </div>
  </div>

  <button class="createButton" matTooltip="Atualizar" (click)="atualizarPermissoes()">Atualizar Permissões</button>

</div>
</div>
