.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Define duas colunas com largura mínima de 200px */
  gap: 15px; /* Espaçamento entre as colunas e as linhas */
}

.group-details {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.titulo {
  text-align: center;
  border: 1px solid #005c99;
}

.group-details h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.group-details p{
  font-weight: bold;
  font-size: 1rem;
}

.checkbox-group {
  margin-bottom: 15px;
}

.checkbox-group label {
  font-weight: bold;
}

.mat-checkbox {
  margin-top: 5px;
}

.createButton {
  padding: 1% 2%;
  margin: 1% 0;
  background-color: #01274e;
  color: #fff;
  border: none;
  cursor: pointer;
}

.createButton:hover {
  background-color: #005c99;
}
