<mat-toolbar>
  <button mat-icon-button class="backButton"(click)="voltarParaUsuarios()">
    <mat-icon>arrow_back</mat-icon>
  </button>
</mat-toolbar>

<div class="container">
  <h2>Confirmação de E-mail</h2>
  <form (ngSubmit)="confirmarEmail()">
      <mat-form-field class="example-full-width">
        <mat-label>E-mail de Confirmação:</mat-label>
        <input matInput type="email" id="emailConfirmacao" name="emailConfirmacao" [(ngModel)]="emailConfirmacao" required>
      </mat-form-field>

    <div class="form-group">
      <button class="createButton" type="submit">Confirmar E-mail</button>
    </div>
  </form>

  <div class="mensagem">
    <p>{{ mensagem }}</p>
  </div>

  <!-- Adicionando área de mensagem para erros ou sucesso -->
  <div *ngIf="mostrarMensagemErroOuSucesso" class="mensagem">
    <p [ngClass]="{'erro': mensagemErro, 'sucesso': mensagemSucesso}">
      {{ mensagemErro || mensagemSucesso }}
    </p>
  </div>
</div>
