.container {
  max-width: 4000px;
  margin: 1%;
  padding: 1%;
  border: 3px solid #01274e;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #F2F2F2;
  text-align: left;
}

h2 {
  color: #01274e;
  font-size: 25px;
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  margin-bottom: 10px;
  display: block;
}

button {
  margin-top: 2%;
  padding: 1%;
  background-color: #01274e;
  color: #fff;
  font-size: larger;
  border: none;
  cursor: pointer;
  margin-right: 5px;
}

.example-full-width{
  width: 100%;
}

button:hover {
  background-color: #005c99;
}

.mensagem {
  margin-top: 20px;
  font-size: 18px;
  color: #01274e;
}
