<mat-toolbar>
  <button mat-icon-button class="backButton" matTooltip="Voltar" (click)="voltarParaUsuarios()">
    <mat-icon>arrow_back</mat-icon>
  </button>
</mat-toolbar>
<div class="container">
  <h2>Listagem de Equipamentos</h2>

  <table mat-table [dataSource]="dataSource" class="mat-equip-table">

    <!-- Coluna Tag Patrimonio -->
    <ng-container matColumnDef="tagPatrimonio">
      <th mat-header-cell *matHeaderCellDef class="custom-width"> Tag Patrimonio </th>
      <td mat-cell *matCellDef="let equipamento" class="custom-width" ><a matTooltip="Detalhes" [routerLink]="['/detalhe-equipamento', equipamento.id]">{{ equipamento.tag_patrimonio }}</a></td>
    </ng-container>

    <!-- Coluna Tipo Equipamento -->
    <ng-container matColumnDef="tipoEquipamento">
      <th mat-header-cell *matHeaderCellDef class="custom-width"> Tipo Equipamento </th>
      <td mat-cell *matCellDef="let equipamento" class="custom-width"> <a  matTooltip="Detalhes" href="javascript:void(0)" (click)="navegarDetalhesTipoEquipamento(equipamento.id)">{{ equipamento.tipo_equipamento_tipo }} </a></td>
    </ng-container>

    <!-- Coluna Marca -->
    <ng-container matColumnDef="marca" >
      <th mat-header-cell *matHeaderCellDef class="custom-width"> Marca </th>
      <td mat-cell *matCellDef="let equipamento" class="custom-width"> {{ equipamento.marca }} </td>
    </ng-container>

    <!-- Coluna Modelo -->
    <ng-container matColumnDef="modelo">
      <th mat-header-cell *matHeaderCellDef class="custom-width"> Modelo </th>
      <td mat-cell *matCellDef="let equipamento" class="custom-width"> {{ equipamento.modelo }} </td>
    </ng-container>

    <!-- Coluna Situação -->
    <ng-container matColumnDef="situacao">
      <th mat-header-cell *matHeaderCellDef class="custom-width"> Situação </th>
      <td mat-cell *matCellDef="let equipamento" class="custom-width">
        <a href="javascript:void(0)"  matTooltip="Transferir" (click)="irParaTransferenciaDeSituacao(equipamento.id)"> {{ getDescricaoSituacao(equipamento.situacao) }} </a>
      </td>
    </ng-container>

    <!-- Coluna Pedido / NFE -->
    <ng-container matColumnDef="pedidoNfe">
      <th mat-header-cell *matHeaderCellDef class="custom-width"> Pedido / NFE </th>
      <td mat-cell *matCellDef="let equipamento" class="custom-width"> {{ equipamento.pedidoNFE }} </td>
    </ng-container>

    <!-- Coluna Data da Compra -->
    <ng-container matColumnDef="dataCompra">
      <th mat-header-cell *matHeaderCellDef class="custom-width"> Data da Compra </th>
      <td mat-cell *matCellDef="let equipamento" class="custom-width"> {{ equipamento.dataCompra | date:'dd/MM/yyyy' }} </td>
    </ng-container>

    <!-- Coluna empresa -->
    <ng-container matColumnDef="empresa">
      <th mat-header-cell *matHeaderCellDef class="custom-width"> Empresa </th>
      <td mat-cell *matCellDef="let equipamento" class="custom-width">
        <a href="javascript:void(0)"  matTooltip="Detalhes" (click)="navegarDetalhesEmpresa(equipamento.empresa_id)">{{ equipamento.empresa_nome }}</a> </td>
    </ng-container>

    <!-- Coluna colaborador -->
    <ng-container matColumnDef="colaborador">
      <th mat-header-cell *matHeaderCellDef class="custom-width"> Colaborador </th>
      <td mat-cell *matCellDef="let equipamento" class="custom-width">
        <a href="javascript:void(0)"  matTooltip="Detalhes" (click)="navegarDetalhesColaborador(equipamento.colaborador_id)"> {{ equipamento.colaborador_nome ? equipamento.colaborador_nome : 'N/A' }} </a></td>
    </ng-container>

    <!-- Coluna colaborador -->
    <ng-container matColumnDef="setor">
      <th mat-header-cell *matHeaderCellDef class="custom-width"> Setor </th>
      <td mat-cell *matCellDef="let equipamento" class="custom-width"> {{ equipamento.setor_nome ? equipamento.setor_nome : 'N/A' }} </td>
    </ng-container>

    <!-- Coluna Status -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef class="small-custom-width">Status</th>
      <td mat-cell *matCellDef="let equipamento" class="small-custom-width">
        <button mat-icon-button (click)="alterarStatusEquipamento(equipamento)"
        [matTooltip]="equipamento.status ? 'Ativo' : 'Inativo'" 
        matTooltipPosition="right">
        <mat-icon [ngStyle]="{'color': equipamento.status ? 'green' : 'red'}">
          {{ equipamento.status ? 'check_circle' : 'cancel' }}
        </mat-icon>
      </button>

      </td>
    </ng-container>

    <ng-container matColumnDef="editar">
      <th mat-header-cell *matHeaderCellDef class="small-custom-width">Editar</th>
      <td mat-cell *matCellDef="let equipamento" class="small-custom-width">
        <button mat-icon-button  matTooltip="Editar" (click)="EditarEquipamento(equipamento)">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="duplicar">
      <th mat-header-cell *matHeaderCellDef class="small-custom-width">Duplicar</th>
      <td mat-cell *matCellDef="let equipamento" class="small-custom-width">
        <button mat-icon-button  matTooltip="Duplicar" (click)="DuplicarEquipamento(equipamento)">
          <mat-icon>content_copy</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10]" showFirstLastButtons></mat-paginator>

</div>
<div class="loading" *ngIf="isLoading">
  Carregando...
</div>
