.container {
  max-width: 10000px;
  margin: 3% 3%;
  padding: 2%;
  border: 3px solid #005c99;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #F2F2F2;
  color: #333;
  text-align: center;
}

h2 {
  color: #01274e;
  font-size: 25px;
  margin-bottom: 20px;
}

.mat-equip-table {
  width: 100%;
  margin-top: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 8px;
}

th.mat-header-cell,
td.mat-cell {
  padding: 10px;
  text-align: left;
}

mat-paginator {
  margin-top: 20px;
}

.mat-slide-toggle {
  margin: 0; /* Ajusta a margem conforme necessário */
}

.ativo {
  color: green;
}

.inativo {
  color: red;
}

