.container {
  max-width: 8000px;
  margin: 2%;
  padding: 2%;
  margin-bottom: 5%;
  padding-bottom: 5%;
  border: 3px solid #005c99;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #F2F2F2;
  color: #333;
  text-align: normal;
}

.example-full-width {
  width: 100%;
}

h2 {
  color: #01274e;
  font-size: 25px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: normal;
}

label {
  font-size: 18px;
  color: #333;
  margin-bottom: 3px;
}

input, select {
  border: groove;
  border-radius: 5px;
  font-size: xx-large;
  align-self: center;
  padding: 0;
  margin: 0;
}

.submit-button {
  width: 100%;
  padding: 1%;
  background-color: #01274e;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  font-size: xx-large;
  text-align: center;
  margin-top: 10px; /* Ajuste para o espaço entre o botão e outros elementos */
}

.submit-button:hover {
  background-color: #005c99;
}

mat-slide-toggle{
  margin-top: 3px;
  align-self: flex-start;
}

span{
  margin-bottom: 2%;
  align-self: flex-start;
}

/* Adicionando configurações específicas para smartphones */
@media only screen and (max-width: 768px) {
  .container {
    margin: 1%;
    padding: 1%;
    border: 2px solid #005c99;
    text-align: center;
  }

  h2 {
    font-size: 20px;
  }

  form {
    padding: 8% 8%;
  }

  input {
    width: 100%;
  }

  .submit-button {
    width: 50%; /* Reduzindo a largura do botão */
  }

}
