<div class="container">
  <h2>Cadastrar Colaborador</h2>

  <form (ngSubmit)="onSubmit()" #colaboradorForm="ngForm">
      <mat-form-field class="example-full-width">
      <label for="nome">Nome:</label>
      <input matInput type="text" id="nome" name="nome" [(ngModel)]="data.colaborador.nome" required>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <label for="cpf">CPF:</label>
      <input matInput type="text" id="cpf" name="cpf" [(ngModel)]="data.colaborador.cpf" required>
    </mat-form-field>
    <mat-slide-toggle id="status" name="status" [(ngModel)]="data.colaborador.status" color="primary"
    [ngClass]="{'mat-slide-toggle-color-active': data.colaborador.status, 'mat-slide-toggle-color-inactive': !data.colaborador.status}">
  </mat-slide-toggle>
  <span [ngClass]="{'mat-slide-toggle-color-active': data.colaborador.status, 'mat-slide-toggle-color-inactive': !data.colaborador.status}">
    {{ data.colaborador.status ? 'Ativo' : 'Inativo' }}
  </span>

  </form>
  <div class="buttonContainer">
  <button type="submit">Salvar</button>
  <button class="cancelbutton" (click)="onCancelarClick()">Cancelar</button>
</div>
</div>
