<div *ngIf="authService.isAuthenticated()">
<div class="header-content">
  <div class="header-left">
    <button class="menu-button" (click)="toggleSidenav()">
      <span class="material-icons">menu</span>
    </button>
    <span class="logoimg">
      <img src="./assets/img/Logo.png" alt="Logo da Empresa" class="logo">
    </span>
  </div>
  <button mat-icon-button [matMenuTriggerFor]="menu" class="user-button">
    <mat-icon class="whiteicon">person</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <label class="permission-label" >
      Permissão: {{ this.authService.userPermission }}
    </label>
    <button mat-menu-item routerLink="/confirmar-email">Alterar Senha</button>
    <button mat-menu-item routerLink="/usuario-permissoes">Permissões</button>
    <button mat-menu-item (click)="logoff()">Sair</button>
  </mat-menu>
</div>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" opened="true" class="sidenav">
    <!-- Conteúdo da navbar -->
          <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div class="menu-header">Dashboard</div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="sub-menu">
          <a mat-list-item [routerLink]="['/dashboard']">Ver Dashboard</a>
        </div>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div class="menu-header">Colaboradores</div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="sub-menu">
            <a mat-list-item [routerLink]="['/cadastrar-colaborador']">Cadastrar</a>
            <a mat-list-item [routerLink]="['/listar-colaborador']">Listar</a>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div class="menu-header">Empresas</div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="sub-menu">
            <a mat-list-item [routerLink]="['/cadastrar-empresa']">Cadastrar</a>
            <a mat-list-item [routerLink]="['/listar-empresa']">Listar</a>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div class="menu-header">Equipamento</div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="sub-menu">
            <a mat-list-item [routerLink]="['/cadastrar-equipamento']">Cadastrar</a>
            <a mat-list-item [routerLink]="['/listar-equipamento']">Listar</a>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div class="menu-header">Tipo de Equipamento</div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="sub-menu">
            <a mat-list-item [routerLink]="['/cadastrar-tipo-equipamento']">Cadastrar</a>
            <a mat-list-item [routerLink]="['/listar-tipo-equipamento']">Listar</a>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div class="menu-header">Setor</div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="sub-menu">
            <a mat-list-item [routerLink]="['/cadastrar-setor']">Cadastrar</a>
            <a mat-list-item [routerLink]="['/listar-setor']">Listar</a>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div class="menu-header">Suprimentos</div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="sub-menu">
            <!-- Conteúdo da categoria -->
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <div class="menu-header">Categoria</div>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="sub-menu">
                <a mat-list-item [routerLink]="['/cadastrar-categoria']">Cadastrar</a>
                <a mat-list-item [routerLink]="['/listar-categoria']">Listar</a>
              </div>
            </mat-expansion-panel>

            <!-- Conteúdo do item -->
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <div class="menu-header">Item</div>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="sub-menu">
                <a mat-list-item [routerLink]="['/cadastrar-item']">Cadastrar</a>
                <a mat-list-item [routerLink]="['/listar-item']">Listar</a>
                <a mat-list-item [routerLink]="['/movimentacao']">Movimentação</a>
                <a mat-list-item [routerLink]="['/listar-movimentacao']">Listar Movimentação</a>
              </div>
            </mat-expansion-panel>
          </div>
        </mat-expansion-panel>

  </mat-sidenav>

  <div class="main-content">
    <footer>
      <p>© Copyright Duplex Software. All Rights Reserved</p>
    </footer>
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
</div>
<app-login *ngIf="!authService.isAuthenticated()"></app-login>

