<div *ngIf="authService.isAuthenticated()">
<div class="header-content">
  <div class="header-left">
    <button class="menu-button" (click)="toggleSidenav()">
      <span class="material-icons">menu</span>
    </button>
    <span class="logoimg">
      <img src="./assets/img/Logo.png" alt="Logo da Empresa" style="max-width: 250px; height: auto;">
    </span>
  </div>
  <button mat-icon-button [matMenuTriggerFor]="menu" class="user-button">
    <mat-icon class="whiteicon">person</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <label class="permission-label" >
       Permissão: Sem permissões
    </label>
    <button mat-menu-item>Alterar Senha</button>
    <button mat-menu-item (click)="logoff()">Sair</button>
  </mat-menu>
</div>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" opened="true" class="sidenav">
    <!-- Conteúdo da navbar -->
    <ul>
      <li class="menu-item">
        <div class="menu-header">Dashboard</div>
        <div class="sub-menu">
          <a routerLink="/dashboard">Ver Dashboard</a>
        </div>
      </li>
      <li class="menu-item">
        <div class="menu-header">Colaboradores</div>
        <div class="sub-menu">
            <a routerLink="/cadastrar-colaborador">Cadastrar</a>
            <a routerLink="/listar-colaborador">Listar</a>
        </div>
    </li>
      <li class="menu-item">
        <div class="menu-header">Empresas</div>
        <div class="sub-menu">
          <a routerLink="/cadastrar-empresa" >Cadastrar</a>
          <a routerLink="/listar-empresa">Listar</a>
        </div>
      </li>
      <li class="menu-item">
        <div class="menu-header">Equipamento</div>
        <div class="sub-menu">
          <a routerLink="/cadastrar-equipamento" >Cadastrar</a>
          <a routerLink="/listar-equipamento">Listar</a>
        </div>
      </li>
      <li class="menu-item">
        <div class="menu-header">Tipo de Equipamento</div>
        <div class="sub-menu">
          <a routerLink="/cadastrar-tipo-equipamento" >Cadastrar</a>
          <a routerLink="/listar-tipo-equipamento">Listar</a>
        </div>
      </li>
    </ul>
  </mat-sidenav>

  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
</div>
<app-login *ngIf="!authService.isAuthenticated()"></app-login>
