.menu-button {
  background-color: #01274e;
  color: #FFFFFF;
  border: none;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
}

.menu-button:hover {
  background-color: #005c99;
  color: #FFFFFF
}

.sidenav-container {
  display: flex;
  height: 100vh;
  position: fixed;
}

.sidenav {
  width: 200px;
  background-color: #01274e;
  color: #FFFFFF;
  padding: 0.5px;
  padding-right: 30px;
  box-sizing: border-box;
}

.menu-item {
  margin-bottom: 15px;
}

.menu-header {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.sub-menu a {
  text-decoration:solid;
  font-size: 15px;
  color: #FFFFFF;
  display: block;
  padding: 10px;
  border-radius: 5px;
}

.sub-menu a:hover {
  background-color: #005c99;
}

.logoimg {
  padding-left: 10px;
  font-size: 10px;
}

.header-content {
  display: flex;
  align-items: end;
  justify-content:first baseline;
  padding: 10px;
}

.header-left {
  display: flex;
  align-items: safe;
}

.menu-button {
  margin-right: 10px; /* Ajuste conforme necessário */
}

.app-name {
  font-size: 18px; /* Ajuste conforme necessário */
  color: #004080;
}

.user-button {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1000;
  background-color: #004080;
}

.permission-label {
  color: #757575; /* Cor cinza para simular um botão desativado */
  cursor: not-allowed; /* Cursor de não permitido para indicar desativado */
}

.whiteicon {
  color: white;
}

.controllMenu {
  background-color: #004080;
  color:#FFFFFF;
}

