<div class="login-container">
  <div class="logo-container">
    <!-- Adicione o caminho para o seu logotipo -->
  </div>

  <div class="form-container">
    <img src="./assets/img/Logo.png" alt="Logo do App" style="max-width: 100%;">
    <h2>Login</h2>

    <mat-form-field class="example-full-width">
    <!-- Campos de entrada para nome de usuário e senha -->
    <label for="username">Usuário:</label>
    <input matInput type="text" placeholder="Digite o nome de usuário:" id="username" [(ngModel)]="username" />
    </mat-form-field>

    <mat-form-field class="example-full-width">
    <label for="password">Senha:</label>
    <input matInput type="password" placeholder="Digite a senha:" id="password" [type]="hidePassword ? 'password' : 'text'" [(ngModel)]="password" />
    <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
    </mat-form-field>
    <!-- Botão para enviar o formulário de login -->
    <button (click)="login()">Entrar</button>
  </div>


</div>
