.container {
  max-width: 8000px;
  margin: 2%;
  padding: 2%;
  margin-bottom: 5%;
  padding-bottom: 5%;
  border: 3px solid #005c99;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #F2F2F2;
  color: #333;
  text-align: normal;
}

.example-full-width {
  width: 100%;
}

h2 {
  color: #01274e;
  font-size: 25px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: normal;
}

label {
  font-size: 18px;
  color: #333;
  margin-bottom: 3px;
}

input, select {
  border: groove;
  border-radius: 5px;
  font-size: xx-large;
  align-self: center;
  padding: 0;
  margin: 0;
}

.submit-button {
  width: 30%;
  padding: 1%;
  background-color: #01274e;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  font-size: xx-large;
  text-align: center;
}

.submit-button:hover {
  background-color: #005c99;
}

mat-slide-toggle{
  margin-top: 3px;
  align-self: flex-start;
}

span{
  margin-bottom: 2%;
  align-self: flex-start;
}


.mat-mdc-slide-toggle.mat-primary {
  --mdc-switch-selected-focus-state-layer-color: #01274e;
  --mdc-switch-selected-handle-color: #01274e;
  --mdc-switch-selected-hover-state-layer-color: #01274e;
  --mdc-switch-selected-pressed-state-layer-color: #01274e;
  --mdc-switch-selected-focus-handle-color: #022f5c;
  --mdc-switch-selected-hover-handle-color: #022f5c;
  --mdc-switch-selected-pressed-handle-color: #022f5c;
  --mdc-switch-selected-focus-track-color: #033e78;
  --mdc-switch-selected-hover-track-color: #033e78;
  --mdc-switch-selected-pressed-track-color: #033e78;
  --mdc-switch-selected-track-color: #033e78;
}

.mat-mdc-slide-toggle {
  --mdc-switch-disabled-selected-handle-color: #777777;
  --mdc-switch-disabled-unselected-handle-color: #777777;
  --mdc-switch-disabled-selected-track-color: #777777;
  --mdc-switch-disabled-unselected-track-color: #777777;
  --mdc-switch-unselected-focus-state-layer-color: #777777;
  --mdc-switch-unselected-pressed-state-layer-color: #777777;
  --mdc-switch-unselected-hover-state-layer-color: #777777;
  --mdc-switch-unselected-focus-track-color: #e0e0e0;
  --mdc-switch-unselected-hover-track-color: #e0e0e0;
  --mdc-switch-unselected-pressed-track-color: #e0e0e0;
  --mdc-switch-unselected-track-color: #e0e0e0;
  --mdc-switch-unselected-focus-handle-color: #777777;
  --mdc-switch-unselected-hover-handle-color: #777777;
  --mdc-switch-unselected-pressed-handle-color: #777777;
  --mdc-switch-handle-surface-color: var(--mdc-theme-surface, #fff);
  --mdc-switch-unselected-handle-color: #616161;
  --mdc-switch-selected-icon-color: #fff;
  --mdc-switch-disabled-selected-icon-color: #fff;
  --mdc-switch-disabled-unselected-icon-color: #fff;
  --mdc-switch-unselected-icon-color: #fff;
}

.mensagem-cadastro{
  text-align: left;
}

.backButton{
  background-color: #e1e1e1;
}
.backButton:hover{
  background-color: #d5d4d4
}

/* Adicionando configurações específicas para smartphones */
@media only screen and (max-width: 768px) {
  .container {
    margin: 1%;
    padding: 1%;
    border: 2px solid #005c99;
    text-align: center;
  }

  h2 {
    font-size: 20px;
  }

  form {
    padding: 8% 8%;
  }

  input {
    width: 100%;
  }

  .submit-button {
    width: 50%; /* Reduzindo a largura do botão */
  }

}
