<div class="container">
  <h2>Cadastrar Equipamento</h2>

  <form (ngSubmit)="onSubmit()">
    <mat-form-field class="example-full-width">
      <label for="tagPatrimonio">Tag Patrimônio:</label>
      <input matInput type="text" id="tagPatrimonio" name="tagPatrimonio" [(ngModel)]="equipment.tag_patrimonio" required>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Tipo de Equipamento:</mat-label>
      <mat-select id="tipoEquipamento" name="tipoEquipamento" [(ngModel)]="equipment.tipo_equipamento" required>
        <mat-option disabled selected hidden>Selecione o Tipo</mat-option>
        <mat-option *ngFor="let tipoEquipamentoItem of tipoEquipamento" [value]="tipoEquipamentoItem.id">
          {{ tipoEquipamentoItem.tipo }}
        </mat-option>
      </mat-select>
    </mat-form-field>

     <mat-form-field class="example-full-width">
  <mat-label>Situação:</mat-label>
  <mat-select id="situacao" name="situacao" [(ngModel)]="equipment.situacao" required>
    <mat-option disabled selected hidden>Selecione a Situação</mat-option>
    <mat-option value="1">Novo</mat-option>
    <mat-option value="2">Em Operação</mat-option>
    <mat-option value="3">Em Manutenção</mat-option>
    <mat-option value="4">Disponível</mat-option>
    <mat-option value="5">Indisponível</mat-option>
    <!-- Adicione mais opções conforme necessário -->
  </mat-select>
</mat-form-field>

<mat-form-field class="example-full-width">
  <label for="pedidoNFE">Pedido / NFE:</label>
  <input matInput type="text" id="pedidoNFE" name="pedidoNFE" [(ngModel)]="equipment.pedido" required>
</mat-form-field>

      <mat-form-field>
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker" id="dataCompra" name="dataCompra" [(ngModel)]="equipment.data_compra">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="example-full-width">
  <mat-label>Empresa:</mat-label>
  <mat-select id="empresa" name="empresa" [(ngModel)]="equipment.empresa" required>
    <mat-option  disabled selected hidden>Selecione a Empresa</mat-option>
    <mat-option *ngFor="let empresa of empresas" [value]="equipment.empresa">{{ empresa.nome }}</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field class="example-full-width">
  <label for="colaborador">Colaborador:</label>
  <mat-select id="colaborador" name="colaborador" [(ngModel)]="equipment.colaborador" required>
    <mat-option  disabled selected hidden>Selecione o colaborador</mat-option>
    <mat-option *ngFor="let colaborador of colaboradores" [value]="colaborador">{{ colaborador.nome }}</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field class="example-full-width">
  <input matInput type="text" id="marca" name="marca" [(ngModel)]="equipment.marca" required>
  <mat-label>Marca</mat-label>
</mat-form-field>

<mat-form-field class="example-full-width">
  <input matInput type="text" id="modelo" name="modelo" [(ngModel)]="equipment.modelo" required>
  <mat-label>Modelo</mat-label>
</mat-form-field>

<mat-form-field class="example-full-width">
  <textarea matInput id="especificacoes" name="especificacoes" [(ngModel)]="equipment.especificacoes" required></textarea>
  <mat-label>Especificações</mat-label>
</mat-form-field>

      <label for="temacessoRemoto">Possui Acesso Remoto?</label>
      <mat-checkbox id="temacessoRemoto" name="temacessoRemoto" [(ngModel)]="this.tem_acesso_remoto"></mat-checkbox>

      <ng-container *ngIf="this.tem_acesso_remoto">
        <mat-form-field class="example-full-width">
          <label for="idAcessoRemoto">Acesso Remoto:</label>
          <input matInput type="text" id="idAcessoRemoto" name="idAcessoRemoto" [(ngModel)]="equipment.acesso_remoto">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <label for="idAcessoRemoto">ID Acesso Remoto:</label>
          <input matInput type="text" id="idAcessoRemoto" name="idAcessoRemoto" [(ngModel)]="equipment.acesso_id">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <label for="senhaAcesso">Senha Acesso:</label>
          <input matInput type="text" id="senhaAcesso" name="senhaAcesso" [(ngModel)]="equipment.acesso_senha">
        </mat-form-field>
      </ng-container>

      <mat-form-field class="example-full-width">
        <label for="observacoes">Observações:</label>
        <textarea matInput id="observacoes" name="observacoes" [(ngModel)]="equipment.observacoes" class="fixed-textarea"></textarea>
      </mat-form-field>

      <mat-slide-toggle id="status" name="status" [(ngModel)]="equipment.status" color="primary"></mat-slide-toggle>
      <span>{{ equipment.status ? 'Ativo' : 'Inativo' }}</span>

      <div class="buttonContainer">
        <button type="submit"><mat-icon>save</mat-icon>Salvar</button>
        <button class="cancelbutton" (click)="onVoltarClick()"><mat-icon>undo</mat-icon>Voltar</button>
      </div>
  </form>
</div>
