<div class="container">
  <h2>Cadastrar Equipamento</h2>

  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="tagPatrimonio">Tag Patrimônio:</label>
      <input type="text" id="tagPatrimonio" name="tagPatrimonio" [(ngModel)]="equipment.tagPatrimonio" required>
    </div>

    <div class="form-group">
      <label for="tipoEquipamento">Tipo de Equipamento:</label>
      <select id="tipoEquipamento" name="tipoEquipamento" [(ngModel)]="equipment.tipoEquipamento" required>
        <option value="" disabled selected hidden>Selecione o Tipo</option>
        <option value="Cadeira">Cadeira</option>
        <option value="Caixa de Som">Caixa de Som</option>
        <option value="Computador">Computador</option>
        <option value="Fone de Ouvido">Fone de Ouvido</option>
        <option value="Impressora">Impressora</option>
        <option value="Notebook">Notebook</option>
        <option value="Roteador">Roteador</option>
        <!-- Adicione mais opções conforme necessário -->
      </select>
    </div>

    <div class="form-group">
      <label for="situacao">Situação:</label>
      <select id="situacao" name="situacao" [(ngModel)]="equipment.situacao" required>
        <option value="" disabled selected hidden>Selecione a Situação</option>
        <option value="Novo">Novo</option>
        <option value="Em Operação">Em Operação</option>
        <option value="Em Manutenção">Em Manutenção</option>
        <option value="Disponível">Disponível</option>
        <option value="Indisponível">Indisponível</option>
        <!-- Adicione mais opções conforme necessário -->
      </select>
    </div>

    <div class="form-group">
      <label for="pedidoNFE">Pedido / NFE:</label>
      <input type="text" id="pedidoNFE" name="pedidoNFE" [(ngModel)]="equipment.pedidoNFE" required>
    </div>

    <div class="form-group">
      <label for="dataCompra">Data da Compra:</label>
      <input type="date" id="dataCompra" name="dataCompra" [(ngModel)]="equipment.dataCompra" required>
    </div>

    <div class="form-group">
      <label for="empresa">Empresa:</label>
      <select id="empresa" name="empresa" [(ngModel)]="equipment.empresa" required>
        <option value="" disabled selected hidden>Selecione a Empresa</option>
        <option *ngFor="let empresa of empresas" [value]="empresa">{{ empresa }}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="colaborador">Colaborador:</label>
      <select id="colaborador" name="colaborador" [(ngModel)]="equipment.colaborador" required>
        <option value="" disabled selected hidden>Selecione o Colaborador</option>
        <option *ngFor="let colaborador of colaboradores" [value]="colaborador">{{ colaborador }}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="marca">Marca:</label>
      <input type="text" id="marca" name="marca" [(ngModel)]="equipment.marca" required>
    </div>

    <div class="form-group">
      <label for="modelo">Modelo:</label>
      <input type="text" id="modelo" name="modelo" [(ngModel)]="equipment.modelo" required>
    </div>

    <div class="form-group">
      <label for="especificacoes">Especificações:</label>
      <textarea id="especificacoes" name="especificacoes" class="fixed-textarea" [(ngModel)]="equipment.especificacoes" required></textarea>
    </div>

    <div class="form-group">
      <label for="acessoRemoto">Acesso Remoto:</label>
      <input type="checkbox" id="acessoRemoto" name="acessoRemoto" [(ngModel)]="equipment.acessoRemoto">
    </div>

    <div class="form-group" *ngIf="equipment.acessoRemoto">
      <label for="idAcessoRemoto">ID Acesso Remoto:</label>
      <input type="text" id="idAcessoRemoto" name="idAcessoRemoto" [(ngModel)]="equipment.idAcessoRemoto">
    </div>

    <div class="form-group" *ngIf="equipment.acessoRemoto">
      <label for="senhaAcesso">Senha Acesso:</label>
      <input type="password" id="senhaAcesso" name="senhaAcesso" [(ngModel)]="equipment.senhaAcesso">
    </div>

    <div class="form-group">
      <label for="observacoes">Observações:</label>
      <textarea id="observacoes" name="observacoes" [(ngModel)]="equipment.observacoes" class="fixed-textarea"></textarea>
    </div>

    <div class="form-group">
      <label>Status</label>
      <mat-slide-toggle [(ngModel)]="equipment.status" color="primary">Ativo</mat-slide-toggle>
    </div>

    <button type="submit">Cadastrar</button>
  </form>
</div>
