<div class="dashboard-container">
  <h1 class="dashboard-title">Dashboards</h1>

  <div class="chart-container">
    <!-- Gráfico de Colaboradores Ativos e Inativos -->
    <div class="chart-item">
      <div class="chart-title">Colaboradores</div>
      <canvas #colaboradoresChart></canvas>
    </div>

    <!-- Gráfico de Empresas Ativas e Inativas -->
    <div class="chart-item">
      <div class="chart-title">Empresas</div>
      <canvas #empresasChart></canvas>
    </div>

    <!-- Gráfico de Equipamentos Ativos e Inativos -->
    <div class="chart-item">
      <div class="chart-title">Equipamentos</div>
      <canvas #equipamentosChart></canvas>
    </div>
  </div>
</div>
