    <div class="container">
      <h2>Cadastrar Colaborador</h2>
      <form (ngSubmit)="onSubmit()" #colaboradorForm="ngForm">

        <mat-form-field class="example-full-width">
          <label for="nome">Nome:</label>
          <input matInput placeholder="Insira o nome do Colaborador" type="text" id="nome" name="nome" [(ngModel)]="colaborador.nome" required>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <label>CPF:</label>
          <input matInput placeholder="Insira o CPF do colaborador" id="cpf" name="cpf" [(ngModel)]="colaborador.cpf" mask="000.000.000-00" required>
        </mat-form-field>

          <mat-slide-toggle id="status" name="status" [(ngModel)]="colaborador.status" color="primary"></mat-slide-toggle>
          <span>{{ colaborador.status ? 'Ativo' : 'Inativo' }}</span>

          <div class="buttonContainer">
            <button type="submit"><mat-icon>save</mat-icon>Salvar</button>
            <button class="cancelbutton" (click)="onVoltarClick()"><mat-icon>undo</mat-icon>Voltar</button>
          </div>
      </form>
  </div>
