.container {
  max-width: 600px;
  margin: 30px 350px auto;
  padding: 180px;
  border: 3px solid #007bff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #d2d2d2;
  color: #333;
  text-align: center;
}

h2 {
  color: #007bff;
  font-size: 25px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  width: 100%;
  margin-bottom: 30px;
}

label {
  font-size: 25px;
  color: #333;
  margin-bottom: 8px;
}

input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

button {
  width: 100%;
  padding: 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}

button:hover {
  background-color: #0056b3;
}

/* Adicionamos uma regra de mídia para ajustar a largura máxima do container */
@media (max-width: 600px) {
  .container {
    margin: 20px 20px auto;
    padding: 20px;
  }
}
