<div class="container">
  <div class="detalhes-empresa">
    <div class="info-empresa">
      <h1>{{ nomeEmpresa }}</h1>
      <p>CNPJ: {{ cnpjEmpresa }}</p>
    </div>
  </div>
  <div class="equipamentos-lista">
    <h3>Equipamentos</h3>
    <ul>
      <li *ngFor="let equipamento of equipamentos">
        <span>Tag: {{ equipamento.tag_patrimonio }}</span>
        <span>Tipo: {{ equipamento.tipo_equipamento }}</span>
        <span>Situação: {{ equipamento.situacao }}</span>
      </li>
    </ul>
  </div>

</div>
