<mat-toolbar>
  <button mat-icon-button class="backButton" matTooltip="Voltar" (click)="voltarParaUsuarios()">
    <mat-icon>arrow_back</mat-icon>
  </button>
</mat-toolbar>
<div class="container">
  <h2>Listar Empresas</h2>

  <table mat-table [dataSource]="dataSource" class="mat-equip-table">

    <!-- Coluna: Nome da Empresa -->
    <ng-container matColumnDef="nome" >
      <th mat-header-cell *matHeaderCellDef class="custom-width"> Nome da Empresa </th>
      <td mat-cell *matCellDef="let empresa" class="custom-width">
        <a matTooltip="Detalhes" [routerLink]="['/detalhes-empresa', empresa.id]">{{ empresa.nome }}</a>
      </td>
    </ng-container>

    <!-- Coluna: CNPJ -->
    <ng-container matColumnDef="cnpj">
      <th mat-header-cell *matHeaderCellDef class="custom-width"> CNPJ </th>
      <td mat-cell *matCellDef="let empresa" class="custom-width"> {{ empresa.cnpj | mask: '00.000.000/0000-00' }} </td>
    </ng-container>

    <!-- Coluna: Status -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef class="custom-width"> Status </th>
      <td mat-cell *matCellDef="let empresa" class="custom-width">
        <button mat-icon-button (click)="alterarStatusEmpresa(empresa)"
        [matTooltip]="empresa.status ? 'Ativo' : 'Inativo'" 
        matTooltipPosition="right">
          <mat-icon [ngStyle]="{'color': empresa.status ? 'green' : 'red'}">
            {{ empresa.status ? 'check_circle' : 'cancel' }}
          </mat-icon>
      </button>
        </td>
    </ng-container>

    <!-- Coluna: Edição -->
    <ng-container matColumnDef="editar">
      <th mat-header-cell *matHeaderCellDef class="custom-width-editar">Editar</th>
      <td mat-cell *matCellDef="let element" class="custom-width-editar">
        <button mat-icon-button matTooltip="Editar" (click)="editarEmpresa(element)">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10]" showFirstLastButtons class="paginator"></mat-paginator>
</div>
<div class="loading" *ngIf="isLoading">
  Carregando...
</div>
