<div class="container">
  <h2>Editar Equipamento</h2>

  <form (ngSubmit)="onSubmit()">
    <mat-form-field class="example-full-width">
      <label for="tagPatrimonio">Tag Patrimônio:</label>
      <input matInput type="text" id="tagPatrimonio" name="tagPatrimonio" disabled [(ngModel)]="data.equipamento.tag_patrimonio" required>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <label for="tipoEquipamento">Tipo de Equipamento:</label>
      <mat-select id="tipoEquipamento" name="tipoEquipamento" [(ngModel)]="data.equipamento.tipo_equipamento_id" required>
        <mat-option [value]="" disabled selected>Selecione o tipo de equipamento</mat-option>
        <mat-option *ngFor="let tipo of tipoEquipamento" [value]="tipo.id">{{ tipo.tipo }}</mat-option>
      </mat-select>
    </mat-form-field>


    <mat-form-field class="example-full-width">
      <label for="situacao">Situação:</label>
      <mat-select id="situacao" name="situacao" [(ngModel)]="data.equipamento.situacao" disabled required>
        <mat-option disabled selected hidden>{{getDescricaoSituacao(data.equipamento.situacao)}}</mat-option>
        <mat-option value="0">Novo</mat-option>
        <mat-option value="1">Em Operação</mat-option>
        <mat-option value="2">Em Manutenção</mat-option>
        <mat-option value="3">Disponível</mat-option>
        <mat-option value="4">Indisponível</mat-option>
        <!-- Adicione mais opções conforme necessário -->
      </mat-select>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label for="empresa">Empresa:</mat-label>
      <mat-select [(ngModel)]="data.equipamento.empresa_id" name="empresa" id="empresa" disabled>
        <mat-option value="" disabled selected>Selecione o nome da Empresa</mat-option>
        <mat-option *ngFor="let empresa of empresas" [value]="empresa.id">{{ empresa.nome }}</mat-option>
      </mat-select>
    </mat-form-field>


    <mat-form-field class="example-full-width">
      <mat-label for="colaborador">Colaborador:</mat-label>
      <mat-select [(ngModel)]="data.equipamento.colaborador_id" name="colaborador" id="colaborador" disabled>
        <mat-option value="" disabled selected>Selecione o nome do colaborador</mat-option>
        <mat-option *ngFor="let colaborador of colaboradores" [value]="colaborador.id">{{ colaborador.nome }}</mat-option>
      </mat-select>
    </mat-form-field>


      <mat-form-field class="example-full-width">
        <mat-label for="marca">Marca:</mat-label>
        <input matInput type="text" id="marca" name="marca" [(ngModel)]="data.equipamento.marca" required>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label for="modelo">Modelo:</mat-label>
        <input matInput type="text" id="modelo" name="modelo" [(ngModel)]="data.equipamento.modelo" required>
      </mat-form-field>

    <mat-checkbox id="acessoRemoto" name="acessoRemoto" [(ngModel)]="data.equipamento.acesso_remoto">
        Acesso Remoto
      </mat-checkbox>

      <mat-form-field *ngIf="data.equipamento.acesso_remoto">
        <label for="idAcessoRemoto">ID Acesso Remoto:</label>
        <input matInput type="text" id="idAcessoRemoto" name="idAcessoRemoto" [(ngModel)]="data.equipamento.acesso_id">
      </mat-form-field>

      <mat-form-field *ngIf="data.equipamento.acesso_remoto">
        <label for="senhaAcesso">Senha Acesso:</label>
        <input matInput type="text" id="senhaAcesso" name="senhaAcesso" [(ngModel)]="data.equipamento.acesso_senha">
      </mat-form-field>

    <div class="form-group">
      <label>Status</label>
      <mat-slide-toggle id="status" name="status" [(ngModel)]="data.equipamento.status" color="primary">Ativo</mat-slide-toggle>
    </div>

    <div class="buttonContainer">
      <button type="submit"><mat-icon>save</mat-icon>Salvar</button>
      <button class="cancelbutton" (click)="onCancelarClick()"><mat-icon>cancel</mat-icon>Cancelar</button>
    </div>
  </form>
</div>
