.container {
  max-width: 600px;
  margin: 30px auto;
  padding: 30px;
  border: 3px solid #005c99;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #F2F2F2;
  color: #333;
  text-align: center;
  overflow-y: auto; /* Adiciona barra de rolagem vertical quando necessário */
  max-height: 70vh; /* Define a altura máxima em 70% da altura da tela */
}

h2 {
  color: #01274e;
  font-size: 25px;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  width: 90%;
  margin-bottom: 20px;
}

label {
  font-size: 18px;
  color: #333;
  margin-bottom: 8px;
}

input,
select {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

button {
  width: 100%;
  padding: 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  margin: 5px;
}

button:hover {
  background-color: #0056b3;
}

.cancelbutton{
  background-color: #97999a;
}

.cancelbutton:hover{
  background-color: #777777;
}

.fixed-textarea {
  width: 100%;
  height: 100px;
  resize: none; /* Impede o redimensionamento do textarea */
}

/* Adicionamos uma regra de mídia para ajustar a largura máxima do container */
@media (max-width: 600px) {
  .container {
    margin: 20px auto;
    padding: 15px;
  }
}
