<mat-toolbar>
  <button mat-icon-button class="backButton" matTooltip="Voltar" (click)="voltarParaUsuarios()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <button mat-button class="backButton" *ngIf="isAdmin" matTooltip="Criar Usuário" (click)="criarUsuario()">Criar Usuário</button>
  <button mat-button class="backButton" *ngIf="isAdmin" matTooltip="Criar Grupo de Permissões" (click)="criarGrupoPermissoes()">Criar Grupo de Permissões</button>
</mat-toolbar>

<div class="container">
  <h2>Controle de permissões:</h2>
  <table mat-table [dataSource]="users">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef class="custom-width">Usuário</th>
      <td mat-cell *matCellDef="let user" class="custom-width">{{ user.username }}</td>
    </ng-container>

    <ng-container matColumnDef="groups">
      <th mat-header-cell *matHeaderCellDef class="custom-width" >Grupos</th>
      <td mat-cell *matCellDef="let user" class="custom-width">
        <div *ngFor="let grupo of user.grupos" class="custom-width-label" (click)="openPermissionDialog(grupo)">
          <label>{{ grupo.name }}</label>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef class="custom-width-edit">Editar</th>
      <td mat-cell *matCellDef="let user" class="custom-width-edit">
        <button mat-icon-button (click)="editarUsuario(user.id)">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['name', 'groups', 'actions']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['name', 'groups', 'actions'];"></tr>
  </table>
</div>
